.leaflet-container {
  z-index: 1;
}

.leaflet-control-attribution {
  //position: absolute;
  //bottom: -20px;
}

.map-wrapper {
  position: relative;
  height: auto;
  width: 100%;
}

.map {
  height: 400px;
  width: 100%;
}