.leaflet-container {
  position: relative;
  flex-shrink: 0;
  width: 33%;
  height: 400px;
  z-index: 1;
}

@media (max-width: 1500px) {
  .leaflet-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .leaflet-container {
    width: 100%;
  }
}

.leaflet-control-attribution {
  position: absolute;
  bottom: -20px;
}
