
.video-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2.5rem 2.5rem 2.5rem;

  &__video-container {
    position: relative;
    flex-shrink: 0;
    width: 33%;
    aspect-ratio: 0.563;
    background-color: var(--section-color);
  }

  &__video {
    width: 100%;
  }
  &__button {
    &_play {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: var(--bg-color);
      background-color: var(--text-color);
      border: 0.15rem solid var(--text-color);
      border-radius: 4rem;
      width: 6rem;
      height: 6rem;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.04);
        background-color: var(--hover-color);
        border: 0.15rem solid var(--hover-color);
      }

      &:active {
        transform: scale(0.97);
        background-color: var(--hover-color);
        border: 0.15rem solid var(--hover-color);
      }
    }

    &_mute {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: var(--bg-color);
      border: 0.15rem solid var(--text-color);
      border-radius: 3rem;
      width: 3rem;
      height: 3rem;
      bottom: 2.5rem;
      right: 2.5rem;
      transition: transform 0.2s ease;
      background-color: var(--text-color);

      &:hover {
        transform: scale(1.04);
        border: 0.15rem solid var(--hover-color);
        background-color: var(--hover-color);
      }

      &:active {
        transform: scale(0.97);
        border: 0.15rem solid var(--hover-color);
        background-color: var(--hover-color);
      }
    }

    &_pause {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: var(--bg-color);
      bottom: 2.5rem;
      right: 6.3rem;
      border-radius: 3rem;
      width: 3rem;
      height: 3rem;
      border: 0.15rem solid var(--text-color);
      background-color: var(--text-color);
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.04);
        border: 0.15rem solid var(--hover-color);
        background-color: var(--hover-color);
      }

      &:active {
        transform: scale(0.97);
        border: 0.15rem solid var(--hover-color);
        background-color: var(--hover-color);
      }
    }
  }

  &__info-container {
    padding: 2.5rem;
  }

  &__title {
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  &__description {
    color: var(--text-color);
    text-align: justify;
  }
}

.video-section__description:last-child {
  margin-bottom: 1.5rem;
}

@media (max-width: 1500px) {
  .video-section {
    max-width: calc(100% - 2rem);

    &__video-container {
      width: 50%;
    }

    &__info-container {
    }
  }
}

@media (max-width: 768px) {
  .video-section {
    flex-direction: column;
    max-width: 100%;
    padding: 0 1rem 2.5rem 1rem;
    margin: 0;
    gap: 1rem;

    &__video-container {
      width: 100%;
    }

    &__info-container {
      padding: 0;
    }
  }
}