.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2.5rem 2.5rem 2.5rem;

  &__content-wrapper {
    width: 100%;
    margin-top: 1.5rem;
  }

  &__btn-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    padding: 0.5rem;
    border: 0;
    background-color: #A97AB7;
    color: var(--bg-color);
    white-space: nowrap;
  }

  &__btn._active {
    background-color: var(--hover-color);
    color: var(--bg-color);
  }
}

.tab-course {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5rem;

  &__img-wrapper {
    aspect-ratio: 0.563;
    position: relative;
    width: 33%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
  &__info-wrapper {

  }
  &__info {
    margin-top: 3rem;
  }
  &__duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem 0;
  }
  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.75rem 0;
  }
}

@media (max-width: 1000px) {
  .tab-course {
    flex-direction: column;
    align-items: flex-start;

    &__img-wrapper {
      aspect-ratio: 0.563;
      position: relative;
      width: 100%;
      height: 500px;
    }
  }
}