.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2.5rem 2.5rem 2.5rem;

  &__content-wrapper {
    margin-top: 1.5rem;
  }

  &__btn-arrow {
    position: absolute;
    top: -3px;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    border: 0.15rem solid var(--text-color);
    padding: 0.15rem;
    background-color: var(--text-color);
    cursor: pointer;
    color: var(--bg-color);
    transition: transform 0.3s ease;

    svg {
      fill: var(--bg-color);

      //&:hover {
      //  fill: var(--hover-color);
      //}
    }

    &:hover {
      border: 0.15rem solid var(--hover-color);
      background-color: var(--hover-color);
      transform: scale(1.04);
    }

    &:active {
      border: 0.15rem solid var(--hover-color);
      background-color: var(--hover-color);
      transform: scale(0.97);
    }
  }

  &__btn-arrow._right {
    right: 0.5rem;
  }

  &__btn-arrow._left {
    left: 0.5rem;
  }

  &__btn-wrapper {
    display: flex;
    gap: 1rem;
    overflow: scroll;
    width: 100%;
    margin: 0 1.5rem;
  }

  &__btn {
    padding: 0.5rem;
    border: 0;
    background-color: var(--section-color);
    white-space: nowrap;
  }

  &__btn._active {
    background-color: var(--hover-color);
    color: var(--bg-color);
  }
}

.tab-course {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.5rem;

  &__img-wrapper {
    aspect-ratio: 0.563;
    position: relative;
    height: 429px;
    width: auto;
  }

  &__info-wrapper {
    //padding: 2.5rem;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__info {
    margin-top: 3rem;
  }
  &__duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem 0;
  }
  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.75rem 0;
  }
}

@media (max-width: 1000px) {
  .tab-course {
    flex-direction: column;
    align-items: flex-start;

    //&__info-wrapper {
    //  padding: 2.5rem 0;
    //}
  }
}