.video-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.75rem 2.5rem;
  max-width: 1440px;
  margin: 0 auto;


  &__text {
    text-align: justify;
    color: var(--text-color);
  }

  &__note {
    padding: 1rem 0;
    text-align: center;
    color: var(--text-additional-color);
  }

  &__btn {
    cursor: pointer;
    margin: 1rem 0;
    background-color: #A97AB7;
    border: none;
    padding: 1rem 1.25rem;
    transition: transform 0.2s ease;
    color: var(--bg-color);

    &:hover {
      transform: scale(1.04);
      background-color: var(--hover-color);
    }

    &:active {
      transform: scale(0.97);
      background-color: var(--hover-color);
    }
  }
}