:root {

}

@font-face {
    font-family: "CeraPro Black";
    src: url('public/fonts/CeraPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "CeraPro Black Italic";
    src: url('public/fonts/CeraPro-BlackItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "CeraPro Bold";
    src: url('public/fonts/CeraPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "CeraPro Bold Italic";
    src: url('public/fonts/CeraPro-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "CeraPro Italic";
    src: url('public/fonts/CeraPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "CeraPro Light";
    src: url('public/fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "CeraPro Light Italic";
    src: url('public/fonts/CeraPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: "CeraPro Medium";
    src: url('public/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "CeraPro Medium Italic";
    src: url('public/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}



