h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 5vw, 5rem); /* минимум 32px, растёт с экраном, максимум 48px */
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 4.5vw, 2.5rem);
  line-height: 1.3;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: 1.3;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  line-height: 1.3;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 2.5vw, 1.25rem); /* 16px → 20px */
  line-height: 1.5;
}

small {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 2vw, 1rem); /* 12px → 16px */
  line-height: 1.4;
}