.pattern {
  overflow: hidden;
  color: var(--text-color);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.97);
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 9/12;
    background-color: var(--section-color-viola);
    border: 0.3125rem solid #c9b2d1;
  }

  &__image {
    z-index: 1;
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info-wrapper {
    margin: 0.25rem 0.75rem;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    padding: 0.25rem 0;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    height: 3.5rem;
    height: clamp(3.5rem, 2.5vw, 4rem);
  }
  &__title::first-letter {
    text-transform: uppercase;
  }

  &__price {
    color: var(--text-color);
  }
  &__level-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    padding: 0.25rem 0 0.75rem;
  }

  &__level {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
  }

  &__free {
    padding: 0 0.5rem;
    outline: 0.125rem solid #f04343;
    color: #f04343;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.25rem;
  }

  &__button {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #A97AB7;
    border: none;
    padding: 0.75rem 1rem;
    color: var(--bg-color);
    width: 100%;
  }

  & .pattern__level.active {
    fill: #c9b2d1;
  }

  &:hover .pattern__level.active {
    fill: var(--hover-color);
  }
}

.pattern:hover .pattern {
  &__image-wrapper {
    background-color: var(--hover-color);
    border: 0.3125rem solid var(--hover-color);
  }

  &__button {
    background-color:  var(--hover-color);
  }
}

.pattern:active .pattern {
  &__image-wrapper {
    background-color: var(--hover-color);
    border: 0.3125rem solid var(--hover-color);
  }

  &__button {
    background-color:  var(--hover-color);
  }
}

.pattern h4 {
  font-weight: 500;
}

.patterns {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
    height: 100%;
  }

  &__description {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 1rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
    text-align: justify;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  &__filter-wrapper {
    width: 33%;
  }

  &__filter {
    &_title {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .pattern {
    &__title {
      height: 3.3rem;
      height: clamp(3.3rem, 2.5vw, 4rem);
    }
  }

  .patterns {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1rem;
    }

    &__description {
      padding: 0 1rem 2.5rem 1rem;
    }

    &__content-wrapper {
      flex-direction: column;
      padding: 0 1rem 2.5rem 1rem;
    }

    &__filter-wrapper {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__filter {
      &_button {
        cursor: pointer;
        transition: transform 0.2s ease;
        background-color: #A97AB7;
        border: none;
        padding: 1rem 1.25rem;
        color: var(--bg-color);
        width: 100%;

        &:hover {
          transform: scale(1.04);
          background-color: var(--hover-color);
        }

        &:active {
          transform: scale(0.97);
          background-color: var(--hover-color);
        }
      }
    }

    &__modal {
      &_title {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}


